a {
color: white;
}

#linha{

border-color: black;
margin-top: 8px;

}

#logotipo{

  margin-top: -1%;
  margin-left: 4%;
  width: 12%; 

}      

#cadastro{

width: 50%;
height: 28px;
align-items: center;
margin-top: 5%;
margin-left: 8%;
text-align: center;
border-style: solid;
border-radius: 4px;
padding: 1.7%;
font-size: 80%;
font-style: bold;


} 

#home{
width: 9%;
align-items: center;
margin-top: -1%;
margin-left: 11%;
text-align: center;


}

 #botao{

width: 30%;
height: 50px;
align-items: center;
margin-top: 13%;
margin-left: 35%;
text-align: center;
border-style: solid;
border-radius: 7px;
padding: 1.3%;
background-color: #3C3A3A;

  }

#linha2{

border-color: none;
margin-top: 38px;

}


