a {
color: white;
}

#linha{

border-color: black;
margin-top: 8px;

}

#logotipo{

  margin-top: -1%;
  margin-left: 4%;
  width: 12%; 

}      

#cadastro{

width: 50%;
height: 28px;
align-items: center;
margin-top: 5%;
margin-left: 8%;
text-align: center;
border-style: solid;
border-radius: 4px;
padding: 1.7%;
font-size: 80%;
font-style: bold;

} 

#home{
width: 9%;
align-items: center;
margin-top: -1%;
margin-left: 11%;
text-align: center;

}

fieldset {

border: 1.5px solid #000000;
padding: 10px;

/* controla a distancia entre os elementos e a borda */
margin: 15px;
margin-right: 5%;
margin-left: 5%;
margin-top: 10%;
margin-bottom: 7%;
  
/* margem para alinhar o fieldset com o restante do grid */
border-radius: 5px;

}

#linha2{

border-color: none;
margin-top: 38px;

}
