<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tela De Aplicação</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleteladeaplicacao.css') }}">
</head>

<body>

<!--LogoMarca a Esquerda -->
    <img src="static/imagens/logomarca.png" id="logotipo">

<!--Título Centralizado -->
    <input type="text" placeholder="Teste Stroop" id="cadastro" readonly>

<!--Ícone Home a Direita -->
    <a href="{{url_for('home')}}"><img src="static/imagens/home.png" id="home"></a>

<!--Linha que divide o Menu do resto da tela -->   
	<hr id="linha">


<!--Bloco que Engloba o Formulário-->    

<canvas id = "meuRetangulo" 
       style = "border: 1px solid black; width: 90%; height:300px; margin-left: 5%; margin-right: 0; margin-top: 2%; border-radius: 7px;">
  O Canvas não está ativado em seu Browser
 </canvas>

 <script type="text/javascript">
  var canvas = document.getElementById("meuRetangulo");
  var context = canvas.getContext("2d")

  context.beginPath();
  context.moveTo(300, 0);
  context.lineTo(0, 150);
  context.stroke(); //draw path

  context.beginPath();
  context.moveTo(0, 0);
  context.lineTo(600, 300);
  context.stroke(); //draw path

 </script>
  	
    <fieldset>

        <img src="static/imagens/azul.png" style=" width: 30%;

align-items: center;
margin-top: 5%;
margin-left: 35%;
">

<img src="static/imagens/vermelho.png" style=" width: 40%;

align-items: center;
margin-top: 1%;
margin-left: 4.7%;
">

<a href="{{url_for('descanso')}}"><img src="static/imagens/amarelo.png" style=" width: 40%;

align-items: center;
margin-top: 1%;
margin-left: 8%;
"></a><br>

<img src="static/imagens/verde.png" style=" width: 30%;

align-items: center;
margin-top: 1%;
margin-left: 35%;
margin-bottom: 2%;
">

        
    </fieldset>

  
 
</body>
</html>